<div class="col-lg-8 hero-content">
    <h1 class="hero-title">Isabella Andrea Trochez Salazar</h1>
    <p class="hero-subtitle">Fecha de nacimiento: 1 de diciembre de 2004</p>
    <p class="hero-subtitle">Desarrolladora y aficionada a la ciberseguridad</p>
    <p class="hero-description">
        Como desarrolladora, mi objetivo es crear soluciones innovadoras. 
        Valoro el trabajo en equipo y busco un entorno que fomente la creatividad.
        Estoy comprometida a aprender sobre nuevas tecnologías, especialmente en
        el ámbito de la ciberseguridad, y deseo asumir roles que me permitan crecer
        y guiar a otros, compartiendo mis conocimientos. Estoy dedicada al crecimiento 
        profesional y a impactar positivamente en la comunidad tecnológica.
    </p>
    <a href="#proyectos" class="cta-button" role="button">
        <i class="fas fa-rocket me-2"></i>Ver Mi Trabajo
    </a>
</div>