<div class="col-lg-8 hero-content">
    <h1 class="hero-title">Brayan Hernan Meneses Macias</h1>
    <p class="hero-subtitle">Nací el 3 de noviembre de 2001</p>
    <p class="hero-description">
        Como desarrollador full stack, espero crear soluciones innovadoras que integren el front-end y el back-end.
        Valoro el trabajo en equipo y busco un entorno que fomente la creatividad.
        Deseo aprender sobre nuevas tecnologías y asumir roles de liderazgo, guiando a otros y compartiendo mis 
        conocimientos. Estoy comprometido con el crecimiento profesional y con impactar positivamente en la comunidad 
        tecnológica.
    </p>
    <a href="#proyectos" class="cta-button" role="button">
        <i class="fas fa-rocket me-2"></i>Ver Mi Trabajo
    </a>
</div>