<p class="hero-subtitle">Fecha de nacimiento: 1 de Diciembre de 2004</p>
<p class="hero-subtitle">Desarrolladora y aficionada a la ciberseguridad</p>
<p class="hero-description">
    Como desarrolladora, mi objetivo es crear soluciones innovadoras. 
    Valoro el trabajo en equipo y busco un entorno que fomente la creatividad.
    Estoy comprometida a aprender sobre nuevas tecnologías, especialmente en
    el ámbito de la ciberseguridad, y deseo asumir roles que me permitan crecer
    y guiar a otros, compartiendo mis conocimientos. Estoy dedicada al crecimiento 
    profesional y a impactar positivamente en la comunidad tecnológica.
</p>