<p class="hero-subtitle">Fecha de nacimiento: 1 de Diciembre de 2004</p>
<p class="hero-description">
    Como desarrolladora full stack, Mi objetivo es crear soluciones innovadoras que integren el front-end y el back-end.
    Valoro el trabajo en equipo y busco un entorno que fomente la creatividad.
    Comprometida a aprender sobre nuevas tecnologías y asumir roles de liderazgo, guiando a otros y compartiendo mis 
    conocimientos. Estoy Comprometida con el crecimiento profesional y con impactar positivamente en la comunidad 
    tecnológica.
</p>