<section id="estudios" class="section">
    <div class="container">
        <h2 class="section-title">Estudios</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nivel</th>
                        <th scope="col">Institución</th>
                        <th scope="col">Años</th>
                        <th scope="col">Ubicación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Universidad</td>
                        <td>Universidad del Cauca<br><small>Ingeniería de Sistemas (7.º semestre)</small></td>
                        <td>2021 – en curso</td>
                        <td>Popayán, Colombia</td>
                    </tr>
                     <tr>
                        <td>Curso</td>
                        <td>Cisco Networking Academy<br><small>Introduction to Cybersecurity</small></td>
                        <td>Finalizado en Septiembre 2025</td>
                        <td>En línea</td>
                    </tr>
                     <tr>
                        <td>Curso</td>
                        <td>Servicio Nacional de Aprendizaje (SENA)<br><small>Análisis de vulnerabilidades en ciberseguridad</small></td>
                        <td>Finalizado en Mayo 2022</td>
                        <td>Popayán, Colombia</td>
                    </tr>
                    <tr>
                        <td>Curso</td>
                        <td>Servicio Nacional de Aprendizaje (SENA)<br><small>Apropiación de conceptos en ciberseguridad</small></td>
                        <td>Finalizado en Junio 2022</td>
                        <td>Popayán, Colombia</td>
                    </tr>
                    <tr>
                        <td>Curso</td>
                        <td>Servicio Nacional de Aprendizaje (SENA)<br><small>Implementación de tecnologías aplicadas a la ciberseguridad</small></td>
                        <td>Finalizado en Julio 2022</td>
                        <td>Popayán, Colombia</td>
                    </tr>
                    <tr>
                        <td>Certificación</td>
                        <td>Institución Universitaria Colegio Mayor del Cauca<br><small>Inglés (640 horas)</small></td>
                        <td>Finalizado en 2021</td>
                        <td>Popayán, Colombia</td>
                    </tr>
                    <tr>
                        <td>Técnico</td>
                        <td>Servicio Nacional de Aprendizaje (SENA)<br><small>Técnico en Sistemas</small></td>
                        <td>Finalizado en 2021</td>
                        <td>Popayán, Colombia</td>
                    </tr>
                    <tr>
                        <td>Bachillerato</td>
                        <td>Institución Educativa San Agustín<br><small>Bachiller Académico</small></td>
                        <td>Finalizado en 2021</td>
                        <td>Popayán, Colombia</td>
                    </tr>
                    <!-- Cursos de ciberseguridad -->
                   
                </tbody>
            </table>
        </div>
    </div>
</section>