<footer class="bg-white text-dark py-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Isabella Trochez</h5>
                <p class="mb-0">Desarrolladora Full Stack & hacker ética</p>
            </div>
            <div class="col-md-6 text-md-end">
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/bellaaa222" class="text-dark me-3"><i class="fab fa-linkedin fs-4"></i></a>
                    <a href="https://github.com/ibella2222" class="text-dark me-3"><i class="fab fa-github fs-4"></i></a>
                    <a href="https://www.instagram.com/bellaaa222_/" class="text-dark me-3"><i class="fab fa-instagram fs-4"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-3">
        <div class="text-center">
            <p class="mb-0">&copy; 2025 Isabella Trochez. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>