<section id="inicio" class="hero-section">
    <!-- Decorative floating elements -->
    <div class="floating-element">
        <div class="shape circle"></div>
    </div>
    <div class="floating-element">
        <div class="shape"></div>
    </div>
    <div class="floating-element">
        <div class="shape triangle"></div>
    </div>

    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 hero-content">
                    <h1 class="hero-title">Isabella Andrea Trochez Salazar</h1>
                    <p class="hero-subtitle">Fecha de nacimiento: 1 de Diciembre de 2004</p>
                    <p class="hero-subtitle">Desarrolladora y aficionada a la ciberseguridad</p>
                    <p class="hero-description">
                        Como desarrolladora full stack, Mi objetivo es crear soluciones innovadoras que integren el front-end y el back-end.
                        Valoro el trabajo en equipo y busco un entorno que fomente la creatividad.
                        Comprometida a aprender sobre nuevas tecnologías y asumir roles de liderazgo, guiando a otros y compartiendo mis 
                        conocimientos. Estoy Comprometida con el crecimiento profesional y con impactar positivamente en la comunidad 
                        tecnológica.
                    </p>
                    <a href="https://github.com/ibella2222?tab=repositories" class="cta-button" role="button">
                        <i class="fas fa-rocket me-2"></i>Ver Mi Trabajo
                    </a>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="../../assets/images/IsabellaTrochez.jpg" alt="Brayan Meneses" class="profile-image img-fluid">
                </div>
            </div>
        </div>
</section>