<section id="proyectos" class="section">
    <div class="container">
        <h2 class="section-title text-center mb-5">Proyectos</h2>
        <div class="row g-4">
            <!-- Proyecto 1 -->
            <div class="col-md-4">
                <div class="project-card p-4 rounded-4 shadow-sm">
                    <h3 class="project-title">Sistema de Gestión Académica</h3>
                    <p class="project-description">
                        Plataforma completa para administrar estudiantes de pregrado y asociarlo a ofertas laborales.
                    </p>
                    <div class="tech-badges mt-3">
                        <span class="tech-badge">Spring boot</span>
                        <span class="tech-badge">Docker</span>
                        <span class="tech-badge">Java</span>
                        <span class="tech-badge">RabbitMQ</span>
                        <span class="tech-badge">PostgreSQL</span>
                    </div>
                </div>
            </div>
            <!-- Proyecto 2 -->
            <div class="col-md-4">
                <div class="project-card p-4 rounded-4 shadow-sm">
                    <h3 class="project-title">plataforma de reservas</h3>
                    <p class="project-description">
                        Aplicación para reservas canchas sintéticas.
                    </p>
                    <div class="tech-badges mt-3">
                        <span class="tech-badge">C#</span>
                        <span class="tech-badge">.Net</span>
                        <span class="tech-badge">Oracle</span>
                    </div>
                </div>
            </div>
            <!-- Proyecto 3 -->
            <div class="col-md-4">
                <div class="project-card p-4 rounded-4 shadow-sm">
                    <h3 class="project-title">E-commerce de Productos Locales</h3>
                    <p class="project-description">
                        Tienda en línea que conecta productores locales con consumidores de la región.
                    </p>
                    <div class="tech-badges mt-3">
                        <span class="tech-badge">Vue.js</span>
                        <span class="tech-badge">Express</span>
                        <span class="tech-badge">PostgreSQL</span>
                        <span class="tech-badge">Stripe API</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>